/*结构样式*/
*{margin:0;padding:0;box-sizing:border-box;font-family:Arial,"黑体",Tahoma, sans-serif;}
html{height:100%;margin:0;padding:0;}
body{height:100%;overflow-y: hidden;background:#CFF993;margin:0;padding:0;}
body.move{
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}

.m-box-clear{zoom:1;}
.m-box-clear:after{content:'';clear:both;display:block;}
@media screen and (max-width:349px){
	.col-350-12{width:100%;float:left;}
	#wrap-box .header .avatar .avatar-box{display:block !important;margin:0 auto 5px auto;}
	#wrap-box .header .avatar .p-i{display:block !important;width:100%;}
}
@media screen and (min-width:350px){
	.col-600-6{width:50%;float:left;}
}
@media screen and (min-width:700px){
	.col-1000-4{width:33.333333333333%;float:left;}
}
/*普通样式*/
#background1{position:fixed;left:0;top:0;height:100%;width:120px;background:url(../img/bg-rear.gif) repeat-y 0 40%;}
#background2{position:fixed;left:0;top:0;height:100%;width:105px;background:url(../img/bg-mid.png) repeat-y 0 150%;}
#background3{position:fixed;left:0;top:0;height:100%;width:105px;background:url(../img/bg-front.png) repeat-y 0 20%;}
#wrap{position:relative;padding:10px 0;}
#wrap #scroll{width:5px;height:100%;position:fixed;right:0;top:0;background: #fff;opacity:0.6;}
#wrap #scroll span{display:block;position:absolute;width:100%;background: #373737;border-radius: 5px;left:0;}
#wrap #scroll span:hover{background: #171717}
#wrap-box{max-width:1000px;width:90%;margin:0 auto;background: #e3f3cc;box-shadow: 1px 1px 5px #999;position:relative;}
#wrap-box #resumeHeader{background: #98C56D url(../img/headerBack.png) no-repeat right 0;padding:10px;color:#fff;}
#wrap-box #resumeHeader .avatar {width:100%;display:table;}
#wrap-box #resumeHeader .avatar .avatar-box{display:table-cell;float:none;width:140px;padding-right:20px;}
#wrap-box #resumeHeader .avatar .avatar-box .avatar-box-i{position:relative;width:100%;height:0;padding-bottom:100%;cursor: pointer;}
#wrap-box #resumeHeader .avatar .avatar-box .avatar-box-i img{position:absolute;left:0;top:0;width:100%;height:100%;}
#wrap-box #resumeHeader .avatar .avatar-box .avatar-box-i .back{position:absolute;width:100%;height:100%;background: #000;opacity: 0.5;left:0;top:0;display:none;}
#wrap-box #resumeHeader .avatar .avatar-box .avatar-box-i:hover .back{display:block;}
#wrap-box #resumeHeader .avatar .p-i{display:table-cell;vertical-align: bottom}
#wrap-box #resumeHeader .avatar .p-i .name{font-size:18px;font-style: italic;margin-bottom:5px;}
#wrap-box #resumeHeader .avatar .p-i .male{background: url(../img/male.png) no-repeat left center;padding-left:15px;}
#wrap-box #resumeHeader .avatar .p-i .job{font-size:24px;font-weight: bold;font-style: italic;}
#wrap-box #resumeHeader .info{padding:10px 10px 0 10px;}
#wrap-box #resumeHeader .info span.title{display:block;padding-bottom:5px;font-style: italic;}
#wrap-box #resumeHeader .info .aInfo .value{font-size:14px;}

#wrap-box #resumeBody{padding:10px 10px 0 10px;position:relative;}
#wrap-box #resumeBody .move{cursor: move;}
#wrap-box #resumeBody .aMod{border:1px solid transparent;padding:10px 0;}
#wrap-box #resumeBody .endMod .header{height:20px;}
#wrap-box #resumeBody .aMod  .header h2{display:inline-block;font-size:24px;color:#87ba3d;}
#wrap-box #resumeBody .aMod  .header .options{display:inline-block;padding-left:10px;}
#wrap-box #resumeBody .aMod  .header .options span{cursor: pointer;font-size:14px;color:#87ba3d;}
#wrap-box #resumeBody .aMod  .header .options label.move{cursor: pointer;font-size:14px;color:#87ba3d;vertical-align: center}
#wrap-box #resumeBody .aMod  .header .options span.save,#wrap-box #resumeBody .aMod  .header .options span.cance{background: #339900;color:#fff;border-radius: 5px;padding:3px 5px;opacity:0.8;}
#wrap-box #resumeBody .aMod  .header .options span.save:hover,#wrap-box #resumeBody .aMod  .header .options span.cance:hover{opacity:1;}
#wrap-box #resumeBody .aMod .modB{padding:5px 10px;}
#wrap-box #resumeBody .aMod .modB pre{font-size:14px;line-height:20px;color:#555;width:100%; resize: none;background: transparent;border:none;outline:none;padding:5px;}
#wrap-box #resumeBody .aMod .modB pre.editing{border:1px solid #A9A9A9;background: #fff;}
#wrap-box #resumeBody .aMod .modB pre:focus{border-color:#98C56D;}
#wrap-box #resumeBody .aMod .modB .table{width:100%;}
#wrap-box #resumeBody .aMod .modB .table tr th{background: #98C56D;color:#fff;text-align: center;padding:5px 0;}
#wrap-box #resumeBody .aMod .modB .table tr td{padding:15px 0;text-align: center;font-size: 14px;color:#555;max-width:300px;}
#wrap-box #resumeBody .aMod .modB .table tr td.edit{border:1px solid #A9A9A9;background: #fff;}
#wrap-box #resumeBody .aMod .modB .table tr td span.edit,
#wrap-box #resumeBody .aMod .modB .table tr td span.delete{background: #339900;color:#fff;border-radius: 5px;padding:3px 5px;opacity:0.8;cursor: pointer;margin:0 3px;}
#wrap-box #resumeBody .aMod .modB .table tr td span.edit:hover,
#wrap-box #resumeBody .aMod .modB .table tr td span.save:hover,
#wrap-box #resumeBody .aMod .modB .table tr td span.delete:hover{opacity:1;}

#wrap-box #footer{background: #98C56D;padding:15px 0;width:100%;}
#wrap-box #footer{color:#fff;font-size:14px;text-align: center;line-height: 20px}

/*提示窗口*/
#prompt{font-size:14px;padding:10px 20px;text-align: center;border-radius: 10px;position:fixed;display:none;opacity:0;}
#prompt span.sure,
#prompt span.cance{display:inline-block;border-radius: 5px;opacity:0.8;padding:5px;margin-right:5px;cursor: pointer;font-size:14px;}
#prompt span.sure{background: #e97a68;color:#fff;}
#prompt span.cance{background: #d5d5d5;color:#555;}
#prompt span.sure:hover{background: #E06754}
#prompt span.cance:hover{background: #c1bfbf;}
.confirm{color:#E07B2B;background: #ECE98C;}
.save{background: #98C56D;color:#fff;}

/*更换头像*/
#changeAvatar{position:absolute;left:100px;top:100px;width:90%;max-width:300px;border:1px solid #bebaba;background:#e4e1e1;padding:10px;box-shadow: 1px 1px 3px #999;display:none;left:5%;
	-webkit-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;}
#changeAvatar .avatarList{width:100%;background: #fff;border:1px solid #bebaba;}
#changeAvatar .avatarList .aImg{width:25%;float:left;padding:2px;}
#changeAvatar .avatarList .aImg .img-i{position:relative;width:100%;height:0;padding-bottom: 100%;}
#changeAvatar .avatarList .aImg .img-i div{position:absolute;width:100%;height:100%;left:0;top:0;cursor: pointer;z-index:999;background: transparent}
#changeAvatar .avatarList .aImg .img-i .select{background: url(../img/avatarSelect.png) no-repeat right top;}
#changeAvatar .avatarList .aImg .img-i img{position:absolute;width:100%;height:100%;left:0;top:0;background: url(../img/loading.gif) no-repeat center center;}

#changeAvatar .buttonBox{text-align: right;padding-top:10px;}
#changeAvatar .buttonBox span.sure,
#changeAvatar .buttonBox span.cance{display:inline-block;border-radius: 5px;opacity:0.8;padding:2px 5px;margin-right:5px;cursor: pointer;font-size:14px;}
#changeAvatar .buttonBox span.sure{background: #e97a68;color:#fff;}
#changeAvatar .buttonBox span.cance{background: #d6d0d0;color:#555;}
#changeAvatar .buttonBox span.sure:hover{background: #E06754}
#changeAvatar .buttonBox span.cance:hover{background: #beb7b7;}

/*canvas*/
.canvasStart{display:block;margin-bottom:10px;}
canvas{display:none;border:1px solid #000;}